

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  
  .marquee-content {
    animation: marquee-animation 10s linear infinite;
    display: inline-block;
    color: black;
}

.card-main{
  width: 70%;
    margin: auto;
    display: flex;
    align-items: center;  
    flex-wrap: wrap;
}

.main-Card-div{
  width: 30.3%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
  
  @keyframes marquee-animation {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
