/* header.css */

.header {
    width: 135rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f7f8f8; /* OLX's blue color */
    color: #2e2f2f;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .olx-logo {
    width: 70px;
    height: auto;
    margin-right: 10px;
  }
  
  .black-logo {
    display: none;
  }
  
  .categories {
    display: flex;
    align-items: center;
  }
  
  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  
  .category-icon {
    width: 30px; /* Adjust width as needed */
    height: auto; /* Automatically adjust height */
    margin-bottom: 5px;
}
  .search-input,
  .category-input {
    flex-grow: 1;
    margin: 0 20px;
  }
  
  .user-actions {
    display: flex;
    align-items: center;
  }
  
  .login,
  .sell {
    color: #002f34;
    background-color: #fff; /* OLX's orange color */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .login:hover,
  .sell:hover {
    background-color: #fff; /* Slightly darker orange on hover */
  }
  