body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 24px;
  margin: 20px 0;
}

.library {
  margin: 20px 0;
}

.fbImages {
  max-width: 100%;
}

.price {
  font-size: 20px;
  margin: 20px 0;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

/* .header {
  background-color: #f7f8f8;
  color: #000000;
  padding: 10px;
  text-align: center;
  margin-top: -13.5em;
  width: 136rem;
} */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading img {
  width: 100px;
  height: 100px;
}
