
.footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    color: black;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 20px;
  }
  
  .footer-section h3 {
    color: #333;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    font-size: 14px;
    color: #888;
  }